@media(max-width: 1150px){
   
    .hero-row{
        flex-wrap: wrap;
    }
    .shape img{
        display: none;
    }
}
@media(max-width: 1050px){
    .footer-content{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-left{
        margin-top: 0;
        
    }
    .footer-content{
        padding: 0 20px;
    }
    .f-form-title h1{
        margin-top: -50px;
    }
}

@media(max-width: 950px){
    .skill-row{
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 900px){
    .title h2{
        font-size: 30px;
    }
    .name h1{
        font-size: 40px;
    }
    .hero-right img{
        width: 500px;
    }
    .s-details{
        text-align: justify; 
    }
    .upper-skill{ 
        padding: 0 150px;
    }
}

@media(max-width: 850px){
    .navmenus{
        display: none;
    }
    .bar{
        display: block;
        visibility: visible;
    }
    .info-row{
        display: flex;
        flex-wrap: wrap;
    }
    .a-desk p{
        text-align: justify;
    }
    .skill-info{ 
        padding: 0 90px;
        text-align: justify;
    }
    .skill-info h1{
        text-align: center;
    }
    .footer-left,.footer-right{
        width: 100%;
    }
}

@media(max-width: 768px){
   .hero-right img{
    width: 450px;
   }
}

@media(max-width: 630px){
    .a-desk p{
        text-align: justify;
    }
    .upper-skill{
        padding: 0 80px;
    }
    .col1{
        padding:0  20px 20px 0 ;
    } 
    .f-detail p{
        width: 100%;
    }
}

@media(max-width: 545px){
     .about-me p{
        width: 450px;
     }
     .about-content{
        padding: 60px 30px 60px 30px;
     }
     .skill-info{
        padding: 0 25px;
     } 
     .resume-heading h1{
        font-size: 35px;
     }
     .resume-title h2 {
        font-size: 30px;
     }
     .resume-subtitle h3{
        font-size: 20px;
     }
     .resume-subtitle p{
        font-size: 16px;
     }
     .resume-bottom{
        padding: 0 15px;
     }
     .f-form-title h1,.f-title h1{
        font-size: 35px;
     }
}

@media(max-width: 430px){
    .btn .primary-btn{
        display: none;
    } 
    .about-me p{
        width: 350px;
     }
     .hero-right img{
        width: 350px;
       }
       .upper-skill{
        padding: 0 30px;
       }
       .skill-info h1{
        font-size: 35px;
       }
       .skill-row{
        padding: 0 10px;
       }
       .resume-subtitle p{
        text-align: justify;
       }
       .f-detail p{
        text-align: justify;
       }

}
