/*
AUTHOR NAME: ANIK ISLAM
Template: Mary Harfy
version: 1.0.0
*/


/* essential set up  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES:  */
:root {
    --heading-font: "Oswald", sans-serif;
    --body-font: "Roboto", sans-serif;
    --light-gray: #949494;
    --white-color: #fff;
    --black-color: #000;
    --nav-menu-color: #181818;
    --nav-btn-color: #f06e0a;
    --header-bg: #fff8f3;
    --skill-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --skill-hover: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --nav-bar-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 

}

body {
    font-family: var(--body-font); 
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER SECTION START */
.header-section {
    position: sticky;
    top: 0px;
    background-color: var(--header-bg);
    z-index: 10;
    box-shadow: var(--nav-bar-shadow);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    font-size: 40px;
    color: var(--black-color);
}

.unique {
    color: var(--nav-btn-color);
}

.navmenus {
    display: flex;
}

.navmenus li {
    list-style: none;
}

.navmenus li a {
    text-decoration: none;
    color: var(--nav-menu-color);
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
}

.navmenus li a:hover {
    color: var(--nav-btn-color);
}

.menu {
    display: flex;
    align-items: center;
}

.primary-btn {
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    background-color: var(--nav-btn-color);
    padding: 15px 25px;
    border-radius: 5px;
    transition: 0.2s;
}

.primary-btn:hover {
    color: var(--nav-btn-color);
    background: transparent;
    border: 1px solid var(--nav-btn-color);
    padding: 15px 25px;
}

.b-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bar {
    background-color: var(--nav-btn-color);
    opacity: 0.8;
    padding: 8px 12px;
    color: var(--white-color);
    font-size: 25px;
    cursor: pointer;
    display: none;
    visibility: hidden;

}

/* HEADER SECTION END */


/*HERO SECTION START */
.hero-section {
    padding-top: 50px; 
    background-color: var(--header-bg);
    overflow: hidden;
    position: relative;
    /* background-image: url("../images/header_bg.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom right;  */
}

.shape img{
    position: absolute;
    left: 100px;
    top: 10px; 
    height: 700px;
    z-index: 2;

}
 
.hero-row {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 100px; 
}

.hero-right img {
    /* width: 100%; */ 
    padding-bottom: 0;
    margin-bottom: 0;
}

.title h2 {
    font-size: 35px;
    font-weight: 500;
    font-family: var(--heading-font);
    /* margin-bottom: 15px; */
}

.name h1 {
    font-size: 55px;
    font-weight: 800;
    font-family: var(--heading-font);
    margin-bottom: 15px;
}

.about-me p {
    font-size: 18px;
    width: 528px;
}

.btns {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.down-btn {
    background-color: var(--nav-btn-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.down-btn a {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
}

.down-btn i {
    color: var(--white-color);
    margin-right: 8px;
}

.border {
    border: 1px solid var(--nav-btn-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.border i {
    color: var(--nav-btn-color);
    margin-right: 8px;
}

.border a {
    text-decoration: none;
    font-size: 16px;
    color: var(--nav-btn-color);
    font-weight: 500;
}

/*HERO SECTION END */



/*ABOUT ME SECTION START */
.aboutme-section{
    padding: 90px 0;
}
.about-content{
    background-color: var(--header-bg);
    padding: 90px;
}
.a-heading h1{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
    font-family: var(--heading-font);
}
.a-desk p{
    font-size: 18px;
    font-weight: 400;
    color: var(--nav-menu-color);
    text-align: center;
}
.info-row{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.col1{
    text-align: center;
}
.col1 span{
    font-size: 18px; 
}
.col1 h3{
    font-size: 20px;
    font-family: var(--heading-font);
    margin-top: 8px;
}
/*ABOUT ME SECTION END */


/*SKILL SECTION START */
.skill-info{
    text-align: center;
    padding: 0 144px;
}
.s-title h1{
    font-size: 45px;
    font-family: var(--heading-font);
    margin-bottom: 18px;
}
.s-desk p{
    font-size: 18px; 
}
.skill-row{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.skill-blck1{
    background-color: var(--white-color);
    box-shadow: var(--skill-shadow);
    padding: 40px 33px 30px 40px;
    width: 350px;
    transition: 0.2s;
    border-radius: 5px;
}
.skill-blck1:hover{ 
    box-shadow: var(--skill-hover);
}
.s-heading h2{
    margin-top: 15px;
    font-family: var(--heading-font);
    font-weight: 700;
}
.s-info p{
    font-size: 16px;
    margin-top: 10px;
    color: var(--light-gray);
    text-align: justify;
}
.s-btns a{
    text-decoration: none;
    color:var(--white-color);
    background-color: var(--nav-btn-color);
    display: inline-block;
    padding: 8px 15px; 
    border-radius: 4px;
    margin-top: 25px;
}
/*SKILL SECTION END */


/*SUMMARY AND RESUME SECTION START */
.summary-resume-section{
    padding: 90px 0;
    overflow: hidden;
}
.resume-heading h1{
    font-size: 45px;
    font-family: var(--heading-font);
    font-weight: 700;
    text-align: center;
}
.resume-bottom{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.resume-content{
    width: 442px;   
}
.resume-title h2{
    font-size: 35px;
    font-family: var(--heading-font);
    margin-bottom: 20px;
}
.resume-subtitle h3{
    font-size: 25px;
    font-family: var(--heading-font);
    margin-bottom: 5px;
}
.resume-subtitle p{
    color:var(--light-gray);
    font-size: 18px;
    margin-bottom: 15px; 
    font-weight: 500;
}
.resume-detail p{
    margin-bottom: 15px;  
    color:var(--light-gray);
}
.line{
    width: 650px;
    margin-right: 8px;
}
.resume-btn span{ 
    background-color: var(--nav-btn-color);  
    padding: 20px 20px;
    color: var(--white-color);
}
.resume-btn span a{
    margin-top: 30px;
    text-decoration: none;
    color: var(--white-color);
    margin-left: 5px;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
}
.resume-btn { 
    text-align: center;
    /* margin-left: 500px;  */
    margin-top: 40px; 
}
/*SUMMARY AND RESUME SECTION END */


/*FOOTER SECTION START */
.footer-section{
    background-color: var(--header-bg);
    padding: 90px 0 30px 0;

}
.footer-left{
    width: 50%;
    justify-content: flex-start;
    margin-top: -160px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.f-title h1{
    font-size: 55px;
    font-family: var(--heading-font);
    margin-bottom: 15px;
}
.f-detail p{
    font-size: 18px;
    color: var(--light-gray);
    width: 581px;
    margin-bottom: 12px;
}

.footer-right{
    width: 50%;
}
.f-form-title h1{
    font-size: 55px;
    font-family: var(--heading-font);
    margin-bottom: 15px;
}
.footer-right{
    align-self: center;
} 
input{ 
    width: 100%;
    margin-top: 15px;
    padding: 15px 12px;
    outline: none;
    border: none;
    font-size: 16px; 
    border-radius: 4px;
}
.footer-icons {
    margin-top: 30px;
    font-size: 25px;
    display:  flex;
    gap: 18px;

    
}
.footer-icons i{
    color: var(--white-color);
    transition: 0.2s;
    background-color: #f06e0a;
    height: 50px;
    width: 50px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.footer-icons i:hover{
    color: var(--nav-btn-color);
    background-color: var(--white-color); 

}
.footer-btn button{
    background-color: var(--nav-btn-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
}
 
.copy-right p{
    margin-top: 50px;
    background-color: var(--nav-btn-color);
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    color: var(--white-color);
}
/*FOOTER SECTION END */